/* .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
} */
