.chat-card {
  border: 1px solid #ddd;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  background: #2c756f;
}

.sad {
  color: red;
  font-weight: bold;
}

.happy {
  color: green;
  font-weight: bold;
}

.neutral {
  color: gray;
  font-weight: bold;
}
